nav{

    position: fixed;
    top: 0;
    height: 60px;
    width: 100vw;
    background-color: rgb(236, 236, 236);
    z-index: 1000;

}

.content{

  display: flex;  
  justify-content: space-between;
  align-items: center;
  margin: auto;
  
  
}

.links{

    display: flex;
    align-items: center;
    gap: 20px;
}

.link{

        color: rgb(63, 107, 63);
        text-decoration: none;
        padding: 10px;
        cursor: pointer;

}

.link:hover{

        color: rgb(5, 5, 5);
}

.logo-icon{

    width:40px;
    height: 40px;

    }

    .sub{

        margin-left: 100px;

    }

  .button{


    color: rgb(255, 255, 255);
    background-color: rgb(1, 34, 1);
    border-radius: 18px;
    border: none;
    width: 134px;
    cursor: pointer;
    height: 32px;

  }